<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ImportExcel.Properties.Settings.cobac2ConnectionString"
            connectionString="Data Source=.;Initial Catalog=cobac2;Persist Security Info=True;User ID=sa;Password=1234567890aA@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>